<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   	   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="dev.galasa.eclipse.simbank.SimbankLauncher"
            delegateDescription="Run SimBank"
            delegateName="SimBank Launcher"
            id="dev.galasa.eclipse.simbank.SimbankLauncher"
            modes="run"
            name="Galasa SimBank">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/galasa-dark-new.png"
            configTypeID="dev.galasa.eclipse.simbank.SimbankLauncher"
            id="dev.galasa.eclipse.simbank.SimbankLauncher.image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="dev.galasa.eclipse.simbank.SimbankLauncher"
            class="dev.galasa.eclipse.simbank.SimbankLaunchTabGroup"
            id="dev.galasa.eclipse.simbank.SimbankLaunchTabGroup">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>  
   
   <extension point="org.eclipse.ui.newWizards">
        <wizard
            name="SimBank example Maven projects"
            class="dev.galasa.eclipse.ui.wizards.simbank.ExampleMavenSimbankWizard"
            category="org.eclipse.ui.Examples/dev.galasa.eclipse.wizards.examples"
            id="dev.galasa.eclipse.ui.wizards.simbank.ExampleMavenSimbankWizard"
            project="true"
            icon="icons/galasa-dark-new.png">
            <description>
                Create example Maven test projects that use SimBank to demonstrate the capabilities of Galasa 
            </description>
        </wizard>
        <wizard
            name="SimBank example Gradle projects"
            class="dev.galasa.eclipse.ui.wizards.simbank.ExampleGradleSimbankWizard"
            category="org.eclipse.ui.Examples/dev.galasa.eclipse.wizards.examples"
            id="dev.galasa.eclipse.ui.wizards.simbank.ExampleGradleSimbankWizard"
            project="true"
            icon="icons/galasa-dark-new.png">
            <description>
                Create example Gradle test projects that use SimBank to demonstrate the capabilities of Galasa 
            </description>
        </wizard>
    </extension>
       
</plugin>
